@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply mx-auto px-4 dark:bg-secondary dark:text-primary;
  font-family: "Lexend";
}

.max-w-8xl {
  max-width: 88rem;
}

header {
  @apply max-w-8xl mx-auto;
}

.navbar-container {
  @apply flex justify-between py-4 relative;
}
.navbar-logo {
  @apply max-w-[71px] max-h-[30px] lg:max-w-[158px] lg:max-h-[66px] xl:max-w-[180px] xl:max-h-[75px];
}
.navbar-logo img {
  @apply w-full h-full object-cover;
}
.navbar-menu {
  @apply hidden lg:flex items-center gap-8;
}
.navbar-menu-item {
  @apply text-base font-medium;
}
.navbar-menu-button {
  @apply flex gap-2 items-center hover:text-quinary;
}
.navbar-menu-icon {
  @apply h-6 w-6;
}
.navbar-dropdown {
  @apply absolute bg-primary z-30 top-16 w-full rounded-md gap-4 lg:flex lg:w-36 py-2 shadow-lg dark:bg-octonary dark:border-0 dark:shadow-none;
}
.navbar-dropdown-search {
  @apply static flex w-full z-30 gap-2 mt-4 rounded-lg lg:absolute lg:w-[264px] lg:right-12 lg:top-20 lg:h-[32px] border-senary border-2 px-1 dark:border-0 dark:bg-octonary;
}
.navbar-dropdown-search-icon {
  @apply size-6 my-auto cursor-pointer text-senary;
}
.navbar-dropdown-search input {
  @apply w-full text-xs text-senary px-2 outline-0  dark:bg-octonary dark:text-septenary;
}
.navbar-dropdown li {
  @apply hover:text-quinary;
}
.navbar-dropdown a {
  @apply text-xs font-light px-4 pb-2;
}
.navbar-mobile-menu {
  @apply lg:hidden inline-flex items-center justify-center;
}
.navbar-mobile-menu-icon {
  @apply size-6 text-secondary dark:text-primary;
}
.navbar-mobile-menu-top {
  @apply flex gap-4;
}
.navbar-mobile-menu-bottom {
  @apply mt-4 text-secondary;
}
.navbar-mobile-menu-bottom-list {
  @apply flex flex-col gap-4;
}
.navbar-mobile-menu-bottom-toggle {
  @apply flex justify-between;
}
.navbar-mobile-menu-bottom-link {
  @apply text-base font-medium hover:text-quinary dark:text-primary;
}
.navbar-mobile-menu-bottom-submenu {
  @apply flex flex-col gap-2 rounded-md shadow-lg px-4 py-2 border mt-4 dark:text-primary dark:border-0 dark:bg-octonary;
}
.navbar-mobile-menu-bottom-submenu li {
  @apply text-sm font-thin dark:text-primary hover:text-quinary;
}
.navbar-mobile-icon {
  @apply size-4 my-auto md:size-5 text-secondary dark:text-primary;
}

#mobile-menu {
  @apply lg:hidden px-1;
}

footer {
  @apply bg-nonary py-2 lg:py-4 dark:bg-tertiary;
}

.footer-container {
  @apply max-w-8xl mx-auto my-8 px-4 lg:px-6 xl:px-4;
}
.footer-top {
  @apply flex justify-between items-center;
}
.footer-bottom {
  @apply flex flex-col justify-normal mt-4 md:flex-row md:flex-wrap md:justify-between lg:gap-4;
}
.footer-bottom-item div {
  @apply flex justify-between items-center;
}
.footer-bottom-item h3 {
  @apply text-2xl font-semibold text-secondary dark:text-primary my-4;
}
.footer-bottom-item ul {
  @apply flex flex-col lg:gap-2;
}
.footer-bottom-item li {
  @apply text-base font-thin text-secondary hover:underline dark:text-primary;
}
.footer-logo {
  @apply max-w-[94px] max-h-[40px] lg:max-w-[208px] lg:max-h-[88px] xl:max-w-[270px] xl:max-h-[144px];
}
.footer-logo img {
  @apply w-full h-full object-cover;
}
.footer-social {
  @apply flex gap-4 my-auto;
}
.footer-social-icon {
  @apply size-6 text-secondary dark:text-primary;
}

swiper-container {
  width: 100%;
  height: 100%;
}
swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=style.css.map */
